@model Registro.Models.Docente

@{
    ViewData["Title"] = "Agregar docente";
}

<h1>Crear</h1>

<h4>Docente</h4>
<hr />
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">

        <div class="form-group  col-4">
            <label asp-for="Nombre" class="control-label"></label>
            <input asp-for="Nombre" class="form-control" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
        <div class="form-group col-4">
            <label asp-for="Apellido" class="control-label"></label>
            <input asp-for="Apellido" class="form-control" />
            <span asp-validation-for="Apellido" class="text-danger"></span>
        </div>
        <div class="form-group col-4">
            <label asp-for="FechaNacimiento" class="control-label"></label>
            <input asp-for="FechaNacimiento" class="form-control" />
            <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
        </div>

    </div>

    <div class="row">
        <div class="form-group col-4">
            <label asp-for="TituloAcademico" class="control-label"></label>
            <input asp-for="TituloAcademico" class="form-control" />
            <span asp-validation-for="TituloAcademico" class="text-danger"></span>
        </div>
        <div class="form-group col-4">
            <label asp-for="Salario" class="control-label"></label>
            <input asp-for="Salario" class="form-control" />
            <span asp-validation-for="Salario" class="text-danger"></span>
        </div>
        <div class="form-group col-4">
            <label asp-for="FechaContratacion" class="control-label"></label>
            <input asp-for="FechaContratacion" class="form-control" />
            <span asp-validation-for="FechaContratacion" class="text-danger"></span>
        </div>

    </div>

    <div class="row">
        <div class="form-group col-4">
            <label asp-for="CorreoElectronico" class="control-label"></label>
            <input asp-for="CorreoElectronico" class="form-control" />
            <span asp-validation-for="CorreoElectronico" class="text-danger"></span>
        </div>
        <div class="form-group col-4">
            <label asp-for="NumeroTelefono" class="control-label"></label>
            <input asp-for="NumeroTelefono" class="form-control" />
            <span asp-validation-for="NumeroTelefono" class="text-danger"></span>
        </div>
    </div>
    <div class="row mt-3">
        <div class="form-group col-4">
            <input type="submit" value="Guardar" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-info">Volver</a>

        </div>




    </div>


</form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
